In [4]:
class Parent:
    saving=10000
    name="priya"
    shares=300

    def loan(self):
        print("have 20 lah home loan")

In [ ]:
class Child(Parent):
    salary=25000

    def property(self):
        print("1bhk at hyd")

    #overiding

In [11]:
cl=Child() #instance of child
print(cl.salary)
cl.property()

print(cl.saving)
cl.loan()

cl.saving+=50000
print(cl.saving)

25000
1bhk at hyd
10000
have 20 lah home loan
60000

In [12]:
pl=Parent() #instance of parent
pl.loan()

have 20 lah home loan

In [28]:
#multiple inheritance
#multiple parent class
#one child class

class parent_one:
    saving=250000
    def display(self):
        print("method of parent one")

In [29]:
class parent_two:
    property=50000

    def show(self):
        print("method of parent two")

In [30]:
class child(parent_one, parent_two):
    def __init__(self):
        print("in a child")

In [31]:
ch1=child()

in a child

In [32]:
ch1=child()
print(ch1.saving) #parent one attribute
print(ch1.property) #parent two attribute
ch1.display()
ch1.show()

in a child
250000
50000
method of parent one
method of parent two

In [35]:
class RBI:
    roi=7

    def rule(self):
        print("ACT 1948")

In [36]:
class SBI(RBI):
    loan_interest=10

    def guid_line(self):
        print("SBI guidelines")

In [37]:
class AndraBank(SBI):
    loan_amount_interst=12

    def loan(self):
        print("loan approved")

In [43]:
class rularbank(AndraBank):
    pass

In [46]:
obj_bank=rularbank()
print(obj_bank.roi)
obj_bank.rule()
print(obj_bank.loan_interest)
obj_bank.guid_line()
print(obj_bank.loan_amount_interst)
obj_bank.loan()

7
ACT 1948
10
SBI guidelines
12
loan approved

In [51]:
#encapulation
#wraping a data (variable) in a method

class employee:
    name="priya"
    age=19
    city="kothapeta"

    def __init__(self):
        print("----employee details----")

    def get_name(self):
        return self.name
        
    def get_age(self):
        return self.age
    
    def get_city(self):
        return self.city

In [52]:
emp=employee()
#print(emp.name)
print(emp.get_name())
print(emp.get_age())
print(emp.get_city())

----employee details----
priya
19
kothapeta

In [48]:
emp=employee()
print(emp.name)
print(emp.age)
print(emp.city)

----employee details----
priya
19
kothapeta

In [53]:
emp=employee()

emp.name="sai"
emp.age=20
emp.city="hyd"
print(emp.name)
print(emp.age)
print(emp.city)

----employee details----
sai
20
hyd

In [55]:
#encapulation
#wraping a data (variable) in a method

class employee:
    name="priya"
    age=19
    city="kothapeta"

    def __init__(self):
        print("----employee details----")

    def get_name(self):
        return self.name
        
    def get_age(self):
        return self.age
    
    def get_city(self):
        return self.city
    
    #setter
    def set_name(self, new_name):
        self.name=new_name

    def set_age(self, new_age):  
        self.age=new_age

    def set_city(self, new_city):
        self.city=new_city

In [56]:
emp=employee()
#print(emp.name)
print(emp.get_name())
print(emp.get_age())
print(emp.get_city())
print("-----set employee-----")
emp.set_name("satya")
emp.set_age(22)
emp.set_city("kakinada")
print(emp.get_name())
print(emp.get_age())
print(emp.get_city())

----employee details----
priya
19
kothapeta
-----set employee-----
satya
22
kakinada

In [69]:
class addition:
    num1 = 20
    num2 = 30 
    def add(self):
         print(self.num1 , self.num2 )

    def add(self , num1 ):
        self.name1 = num1
        print(self.num1 + self.num2)

    def add(Self, num1 , num2):
        Self.name1 = num1
        Self.name2 = num2
        print(Self.name1 + Self.name2)

In [70]:
a1=addition()
a1.add(10,20)

30

In [57]:
class animal:
    def speak(self):
        print("animal sound")

In [58]:
class dog(animal):
    #OVERriding
    def speak(self):
        return super().speak()

In [59]:
d1=dog()
d1.speak()

animal sound

In [60]:
class dog(animal):
    #OVERriding
    def speak(self):
        #return super().speak()
        print("bow bow")

In [61]:
d1=dog()
d1.speak()

bow bow

In [82]:
numbers=[10,20,30,40,50]   
try:
    print(numbers[6])
except IndexError:
    print(IndexError)

print(numbers[3])

<class 'IndexError'>
40

In [78]:
num1=10
try:
    num/0
except:
    print("something went wrong")

something went wrong